body {
  background-color: #f8f9fa; 
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
}

.ginde10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;          
  width: 100%;           
  max-width: 1800px;    
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  gap: 2rem;             
  
  width: 100%;           
  background-color: #ffffff;
  border-radius: 12px; 
  padding: 2rem;          
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.chart-container {
  flex: 1 1 500px;
  min-width: 500px;
  height: 400px;
  font-size: 15px;
  position: relative;
}

.chart-container2 {
  flex-basis: 90%;
  min-width: 300px;
  height: 400px;
}

.container p{
  font-size: 17px;
  font-weight: bold;
}

.chart-container ~ .chart-container::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: -1rem; 
  width: 1px;
  background-color: #e0e0e0;
  border-radius: 1px;
}