#foteras{
    font-family: "Roboto", sans-serif;
    height: 2rem;
    background: linear-gradient(135deg, #3a65f5 0%, #2a4fd8 100%);
    text-align: center;
    letter-spacing: 1px;
}

#foteras p{
    font-size: 0.9rem;
    color: #fff;
    position: relative;
    bottom: -6px;
}
