.slider{
    margin: 8vh auto;
    overflow: hidden;
    width: 1200px;
    height: 475px;
    border-radius: 10px;
    box-sizing: border-box;
}

.slides{
    width: 400%;
    height: 475px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 1s;
    width: 400px;
    box-sizing: border-box;
    justify-content: center;
}

.slide img{
    width: 95%;
    height: 475px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.manual-navigation{
    position: absolute;
    width: 1200px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(77, 77, 77);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 1200px;
    margin-top: 425px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}